<section class="container">
	<% @places.each do |place| %>
		<section class="booyah-box col-xs-10 col-xs-offset-1">
			<h1><%= link_to place.name, place_path(place)  %></h1>
			<em><%= place.address %></em><br><br>
			<p><%= place.description %></p><br>

			<% if place.user.present? %>
				<small><%= place.user.email %></small>
			<% end %>

			<% if place.comments.present? %>
				<article class="col-xs-12">
					<blockquote>
						<% if place.comments.last.humanized_rating.present? %>
								<strong><%= place.comments.last.humanized_rating %></strong> -
							<% end %>
							<%= place.comments.last.message %>
							<small><%= place.comments.last.user.email %></small>
					</blockquote>
				</article>
			<% end %>

		</section>

	<% end %>
</section>

<!-- kaminari pagination --> 
<nav class="container">
	<section class="col-xs-10">
	</section>	
	<section class="col-xs-2">
		<%=  paginate @places %>
	</section>
</nav>